/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-okt-10, 15:57:10
    Author     : khatab
*/

root { 
    display: block;
}

body {
    margin: auto;
    width : 50em;
}

#right {
  position: fixed;
  top: 250px;
  right: 75px;
  width: 175px;
  bottom: 250px;
  background-color: #adadad;
  padding: 10px;
}

#grey {
    background-color: #f5f5f5;
}

#input{
    margin-right: auto;
    width : 20em; 
}

header {
    background-image:  url(../resources/img/question-marks.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 100% 130%;
    border-radius:25px;
    box-shadow: 8px 8px 5px gainsboro
}

header h1{  
    padding-top: 0.5em;
    font-size: 60px;
    font-family: monospace;
    font-style: italic;
    font-weight: 200;
    font-variant: small-caps;
    color: black;
    text-align: auto;
    margin-left: 0.5em;
    vertical-align: middle;
}

header h2{
    font-family: monospace;
    font-style: italic;
    color: blue;
    text-align: auto;
    vertical-align: middle;
    margin-left: 0.5em;
}

footer {
    position:fixed;
    bottom:10px;
    height:30px;
    width: 50em;
}

#error {
    color:  red;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

#rightsidebar {
  background-color: aqua;
  border: 1px solid black;
  top: 285px;
  bottom: 26px;
  right: 130px;
  width: 150px;
  height: 300px;
  position: fixed;
}

#wrapper {
  border-radius: 13px;
  border: 1px solid black;
  border-color: #ffffff;
  background-color: white;
  width: 450px;
  left: 200px;
  height: 400px;
  top: 285px;
}
#banner {
  position: relative;
}

#question {
  
  border: 1px solid black;
  border-radius: 13px;
  background-color: white;
  width: 450px;
  left: 200px;
  height: 250px;
  top: 285px;
}

.myButton {
	background-color:#ffffff;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #0d0f0e;
	display:inline-block;
	cursor:pointer;
	font-family:arial;
	font-size:17px;
	padding:20px 50px;
	text-decoration:none;
        width: 223px;
}
.myButton:hover{
    font-size: 23px;
}

.gameContainer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 100px;
  
}